*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 1320px;
    margin: auto;
}

/* common css end */

/* footer or banner part start */
#banner_top{
    margin: 50px 140px 100px 140px;
}
.banner{
    background: url(../images/Banner\ Image.png) no-repeat, center;
    background-size: cover;
    border-radius: 16px;
}
.banner .banner_shadow{
    background-color: rgba(0, 0, 0, 0.589);
    padding: 177px 344px;
    border-radius: 16px;
}

.banner_shadow h2{
    font-size: 32px;
    font-family: 'Merriweather';
    font-weight: 400;
    color: #FFF;
    text-align: center;
    margin-bottom: 15px;
}

.banner_shadow h1{
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather';
    color: #FFF;
    line-height: 95px;
    text-align: center;
}
/* footer or banner part end */
/* <!-- OFF% part start --> */
.holidays_deal{
    text-align: center;
}
.holidays_deal h1{
    font-size: 88px;
    font-family: 'Inter'; 
    font-weight: 700;
    color: #F00;
    margin-bottom: 48px;
}
.holidays_deal h4{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter'; 
    color: #F00;
    margin-bottom: 6px;
}
.holidays_deal h2{
    font-size: 48px;
    font-family: 'Inter'; 
    font-weight: 700;
    color:#070211;
    margin-bottom: 48px;
}
.holidays_deal img{
    height: 500px;
    width: 802px;
    margin-bottom: 120px;
}

/* <!-- OFF% part end --> */